<h1 align="center"> Article-Blog </h1>

<div class ="container">
<p class ="text"> These Website is created By Godfrey Menezes.Article-blog is a WebApplication Where Any Users can Signup and create any Articles related to his wish and post them.

	<strong>Article-Blog Conatains Menu in The Top which Contains many Options 
      <ol>
      	<li> Articles</li><p> Contains User Created Articles</p>
      	<li> Users</li><p> Contains diffrent user who created Articles</p>
      	<li> Catgories</li> <p>Contains Various Categories </p>
      </ol>
	 </strong>
	</p>
</div>

<div class ="container box2">

	<p> 
		<strong>Users Must be Logged in to create a new Articles, Once created They can Update or edit Thier own Articles, They can also delete thier own Articles .</strong>
 <br>
		<span>Users can Search Articles by Categories, Users etc also let the users to edit his profile update emails etc (if logged in ) </span>
<br>
		<span> <strong>Once User is Logged Out He as no access to create,update,delete any of the articles  </span></strong>
  
</p>
<srong > <b> Remember User can Only View his Profile Image if he is  having his Own Graviator id  associated with Email </b> 
 profile image associated with an email account you control, add one to the site
  <a href= "https://en.gravatar.com."> Graviator</a>
</srong>

	<p> Users cannot create Categories they can only select a Categories which are there in Menu
 
 They can edit the categorie unless they have been loggedout</p>

	
</div>