@import "bootstrap";


.article-actions {

border-top: 1px solid #eaeaea;

padding-top: 5px;

}

.description {

margin-top: 0;

}
.article-title {

font-weight: bold;

font-size: 1.5em;

}

.article-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;

}

#logo {

padding-left :480px;
text-align:center;

font-size: 1.7em;

color: #fff;

text-transform: uppercase;

letter-spacing: -1px;

font-weight: bold;

}

span.online {
  content: "\2713";
  color:green;
  font-size:1.5em;
  margin-left: 3px;
}
span.offline {
 content: "\2715";
  color:red;
  font-size:1.5em;
  margin-left: 3px;
}

#logo:hover {

color: #fff;

text-decoration: none;

}

.center {

text-align: center;

}

.jumbotron {

background-image: asset-url('back2.jpg');

background-size: cover;

height: 620px;

}

.jumbotron h1 {

color: #fff;

text-align: center;

margin-bottom: 30px;

letter-spacing: -1px;

font-weight: bold;

}

.article-meta-details {

border-top: 1px solid #eaeaea;

margin-top: 15px;

}

.badge {

background-color: #CEF6F5;

text-transform: uppercase;

letter-spacing: -1px;

font-weight: bold;

}

.input_checkbox input {

width: auto !important;

}

.btn-xlarge {

font-size: 1.7em;

background-color: black;

align :center;

margin:10px,15px,25px,35px;

 border: 2px solid black;
 padding: 15px;
 border-radius: 25px;
width:7em;

}

.listing {

list-style: none;

padding-left: 0;

}

.text {
margin-top :30px;
	font-size: 1.1em;

}
.box2
{
	margin-top: 40px;
	
}

footer {

margin-top: 45px;

padding-top: 5px;

border-top: 1px solid #eaeaea;

color: #777;

}

footer a:hover {

color: #222;

}

footer small {

float: left;

}

footer ul {

float: right;

list-style: none;

}

footer ul li {

float: left;

margin-left: 15px;

}