<div class="container">

<footer class="footer">

<small>

Copyright © <%= link_to "Article-Blog", pages_about_path %></li>

by <a href="https://www.instagram.com/godfrey_menezes/">Godfrey Menezes</a>

</small>

<nav>

<ul>

<li><%= link_to "About", pages_about_path %></li>

</ul>

</nav>

</footer>

</div>